In [1]:
from nilmtk.api import API

In [2]:
# UKDALE

ukdale={
    'params': {
            'power': {'mains':['apparent'],
                      'appliance':['active']
                     }
        },
    'sample_rate': 60,
    'appliances': ['soldering iron'],
    'methods': {'Mean':{},
                'CO':{},
                'FHMM':{}
        },
    'pre_trained': False,
    'save_model':'D:\\abc.h5',
    'save_predictions':'D:\\bcd.h5',
    'train': {
    'datasets': {
            'UKDALE': {
                'path':'D:\\Work\\SRIP\\UKDALE\\ukdale.h5',
				'buildings': {
					1: {
						'start_time': '2013-05-01',
						'end_time': '2013-05-10'
					}
                }
                
			}
		}
	},
	'test': {
		'datasets': {
			'UKDALE': {
                'path':'D:\\Work\\SRIP\\UKDALE\\ukdale.h5',
				'buildings': {
					1: {
						'start_time': '2013-05-11',
						'end_time': '2013-05-12'
					}
                }
			}
		},
        'metrics':['rmse','mae']
	}
}

In [3]:
#DRED

dred={
    'params': {
            'power': ['active','apparent']
        },
    'sample_rate': 60,
    'appliances': ['cooker','fridge'],
    'methods': ['Mean','CO','FHMM'],
    'pre_trained': False,
    'train': {
    'datasets': {
            'DRED': {
                'path':'D:\\Work\\SRIP\\DRED\\split\\book1DRED.h5',
				'buildings': {
					1: {
						'start_time': '2015-07-10',
						'end_time': '2015-08-10'
					}
                }
                
			}
		}
	},
	'test': {
		'datasets': {
			'DRED': {
                'path':'D:\\Work\\SRIP\\DRED\\split\\book1DRED.h5',
				'buildings': {
					1: {
						'start_time': '2015-08-15',
						'end_time': '2015-08-20'
					}
                }
			}
		}
	}
}

In [14]:
# REDD 

from nilmtk.api import API
redd={
    'params': {
            'power': {'mains':['apparent'],
                      'appliance':['active']
                     }
        },
    'sample_rate': 60,
    'appliances': ['sockets'],
    'methods': {'Mean':{},
                'CO':{}
        },
    'pre_trained': False,
    'save_model':'D:\\abc.h5',
    'save_predictions':'D:\\bcd.h5',
    'train': {
    'datasets': {
            'REDD': {
                'path':'D:\\Work\\SRIP\\lowfreq.h5',
				'buildings': {
					1: {
						'start_time': '2011-05-01',
						'end_time': '2011-05-13'
					}
                }
                
			}
		}
	},
	'test': {
		'datasets': {
			'REDD': {
                'path':'D:\\Work\\SRIP\\lowfreq.h5',
				'buildings': {
					1: {
						'start_time': '2011-05-15',
						'end_time': '2011-05-30'
					},
                    2:{
                        'start_time': '2011-05-20',
						'end_time': '2011-05-30'
                    },
                    3:{
                        'start_time': '2011-05-20',
						'end_time': '2011-05-30'
                    }
                }
			}
		},
        'metrics':['rmse','mae']
	}
}

In [12]:
d['params']['power']['mains']

NameError: name 'd' is not defined

In [15]:
a=API(redd)

............... Loading Data for training ...................
Loading data for  REDD  dataset
Loading building ...  1
Loading data for meter ElecMeterID(instance=2, building=1, dataset='REDD')
Done loading data all meters for this chunk.
For appliance ..  sockets
Loading data for  REDD  dataset
Loading building ...  1
Loading data for meter ElecMeterID(instance=16, building=1, dataset='REDD')
Done loading data all meters for this chunk.
Loading data for  REDD  dataset
Loading building ...  1
Loading data for meter ElecMeterID(instance=2, building=1, dataset='REDD')
Done loading data all meters for this chunk.
Loading data for meter ElecMeterID(instance=16, building=1, dataset='REDD')
Done loading data all meters for this chunk.
Predict for building  1 ....
...............Function in partial_fit mean  .............
...............Function in partial_fit.............
centroids ... [physical_quantity  type
power              active    51
dtype: int32]
state_combinations.......... [[51]]
summed_power_of_each_combination.......... [51]
Estimating power demand for 'sockets'
state_combinations.......... [[   0]
 [  47]
 [1464]]
summed_power_of_each_combination.......... [   0   47 1464]
Estimating power demand for 'sockets'
............RMSE .............
              Mean          CO
sockets  83.714973  526.530334
Loading building ...  2
Loading data for meter ElecMeterID(instance=2, building=2, dataset='REDD')
Done loading data all meters for this chunk.
Loading data for meter ElecMeterID(instance=8, building=2, dataset='REDD')
Done loading data all meters for this chunk.
Predict for building  2 ....
...............Function in partial_fit mean  .............
...............Function in partial_fit.............
centroids ... [physical_quantity  type
power              active    51
dtype: int32]
state_combinations.......... [[51]]
summed_power_of_each_combination.......... [51]
Estimating power demand for 'sockets'
state_combinations.......... [[   0]
 [  47]
 [1129]]
summed_power_of_each_combination.......... [   0   47 1129]
Estimating power demand for 'sockets'
............RMSE .............
              Mean         CO
sockets  48.537235  44.537594
Loading building ...  3
Loading data for meter ElecMeterID(instance=2, building=3, dataset='REDD')
Done loading data all meters for this chunk.
Loading data for meter ElecMeterID(instance=22, building=3, dataset='REDD')
Done loading data all meters for this chunk.
Predict for building  3 ....
...............Function in partial_fit mean  .............
...............Function in partial_fit.............
centroids ... [physical_quantity  type
power              active    51
dtype: int32]
state_combinations.......... [[51]]
summed_power_of_each_combination.......... [51]
Estimating power demand for 'sockets'
state_combinations.......... [[   0]
 [  47]
 [1156]]
summed_power_of_each_combination.......... [   0   47 1156]
Estimating power demand for 'sockets'
............RMSE .............
              Mean          CO
sockets  71.000565  398.384186

In [4]:
a.pred_overall

{'Mean':                            sockets
 2011-05-22 20:57:00+01:00     51.0
 2011-05-22 20:58:00+01:00     51.0
 2011-05-22 20:59:00+01:00     51.0
 2011-05-22 21:00:00+01:00     51.0
 2011-05-22 21:01:00+01:00     51.0
 2011-05-22 21:02:00+01:00     51.0
 2011-05-22 21:03:00+01:00     51.0
 2011-05-22 21:04:00+01:00     51.0
 2011-05-22 21:05:00+01:00     51.0
 2011-05-22 21:06:00+01:00     51.0
 2011-05-22 21:07:00+01:00     51.0
 2011-05-22 21:08:00+01:00     51.0
 2011-05-22 21:09:00+01:00     51.0
 2011-05-22 21:10:00+01:00     51.0
 2011-05-22 21:11:00+01:00     51.0
 2011-05-22 21:12:00+01:00     51.0
 2011-05-22 21:13:00+01:00     51.0
 2011-05-22 21:14:00+01:00     51.0
 2011-05-22 21:15:00+01:00     51.0
 2011-05-22 21:16:00+01:00     51.0
 2011-05-22 21:17:00+01:00     51.0
 2011-05-22 21:18:00+01:00     51.0
 2011-05-22 21:19:00+01:00     51.0
 2011-05-22 21:20:00+01:00     51.0
 2011-05-22 21:21:00+01:00     51.0
 2011-05-22 21:22:00+01:00     51.0
 2011-05-22 21:23:00+01:00     51.0
 2011-05-22 21:24:00+01:00     51.0
 2011-05-22 21:25:00+01:00     51.0
 2011-05-22 21:26:00+01:00     51.0
 ...                            ...
 2011-05-23 00:30:00+01:00     51.0
 2011-05-23 00:31:00+01:00     51.0
 2011-05-23 00:32:00+01:00     51.0
 2011-05-23 00:33:00+01:00     51.0
 2011-05-23 00:34:00+01:00     51.0
 2011-05-23 00:35:00+01:00     51.0
 2011-05-23 00:36:00+01:00     51.0
 2011-05-23 00:37:00+01:00     51.0
 2011-05-23 00:38:00+01:00     51.0
 2011-05-23 00:39:00+01:00     51.0
 2011-05-23 00:40:00+01:00     51.0
 2011-05-23 00:41:00+01:00     51.0
 2011-05-23 00:42:00+01:00     51.0
 2011-05-23 00:43:00+01:00     51.0
 2011-05-23 00:44:00+01:00     51.0
 2011-05-23 00:45:00+01:00     51.0
 2011-05-23 00:46:00+01:00     51.0
 2011-05-23 00:47:00+01:00     51.0
 2011-05-23 00:48:00+01:00     51.0
 2011-05-23 00:49:00+01:00     51.0
 2011-05-23 00:50:00+01:00     51.0
 2011-05-23 00:51:00+01:00     51.0
 2011-05-23 00:52:00+01:00     51.0
 2011-05-23 00:53:00+01:00     51.0
 2011-05-23 00:54:00+01:00     51.0
 2011-05-23 00:55:00+01:00     51.0
 2011-05-23 00:56:00+01:00     51.0
 2011-05-23 00:57:00+01:00     51.0
 2011-05-23 00:58:00+01:00     51.0
 2011-05-23 00:59:00+01:00     51.0

 [243 rows x 1 columns], 'CO':                            sockets
 2011-05-22 20:57:00+01:00     47.0
 2011-05-22 20:58:00+01:00     47.0
 2011-05-22 20:59:00+01:00     47.0
 2011-05-22 21:00:00+01:00     47.0
 2011-05-22 21:01:00+01:00     47.0
 2011-05-22 21:02:00+01:00     47.0
 2011-05-22 21:03:00+01:00     47.0
 2011-05-22 21:04:00+01:00     47.0
 2011-05-22 21:05:00+01:00     47.0
 2011-05-22 21:06:00+01:00     47.0
 2011-05-22 21:07:00+01:00     47.0
 2011-05-22 21:08:00+01:00     47.0
 2011-05-22 21:09:00+01:00     47.0
 2011-05-22 21:10:00+01:00     47.0
 2011-05-22 21:11:00+01:00     47.0
 2011-05-22 21:12:00+01:00     47.0
 2011-05-22 21:13:00+01:00     47.0
 2011-05-22 21:14:00+01:00     47.0
 2011-05-22 21:15:00+01:00     47.0
 2011-05-22 21:16:00+01:00     47.0
 2011-05-22 21:17:00+01:00     47.0
 2011-05-22 21:18:00+01:00     47.0
 2011-05-22 21:19:00+01:00     47.0
 2011-05-22 21:20:00+01:00     47.0
 2011-05-22 21:21:00+01:00     47.0
 2011-05-22 21:22:00+01:00     47.0
 2011-05-22 21:23:00+01:00     47.0
 2011-05-22 21:24:00+01:00     47.0
 2011-05-22 21:25:00+01:00     47.0
 2011-05-22 21:26:00+01:00     47.0
 ...                            ...
 2011-05-23 00:30:00+01:00     47.0
 2011-05-23 00:31:00+01:00     47.0
 2011-05-23 00:32:00+01:00     47.0
 2011-05-23 00:33:00+01:00     47.0
 2011-05-23 00:34:00+01:00     47.0
 2011-05-23 00:35:00+01:00     47.0
 2011-05-23 00:36:00+01:00     47.0
 2011-05-23 00:37:00+01:00     47.0
 2011-05-23 00:38:00+01:00     47.0
 2011-05-23 00:39:00+01:00     47.0
 2011-05-23 00:40:00+01:00     47.0
 2011-05-23 00:41:00+01:00     47.0
 2011-05-23 00:42:00+01:00     47.0
 2011-05-23 00:43:00+01:00     47.0
 2011-05-23 00:44:00+01:00     47.0
 2011-05-23 00:45:00+01:00     47.0
 2011-05-23 00:46:00+01:00     47.0
 2011-05-23 00:47:00+01:00     47.0
 2011-05-23 00:48:00+01:00     47.0
 2011-05-23 00:49:00+01:00     47.0
 2011-05-23 00:50:00+01:00     47.0
 2011-05-23 00:51:00+01:00     47.0
 2011-05-23 00:52:00+01:00     47.0
 2011-05-23 00:53:00+01:00     47.0
 2011-05-23 00:54:00+01:00     47.0
 2011-05-23 00:55:00+01:00     47.0
 2011-05-23 00:56:00+01:00     47.0
 2011-05-23 00:57:00+01:00     47.0
 2011-05-23 00:58:00+01:00     47.0
 2011-05-23 00:59:00+01:00     47.0

 [243 rows x 1 columns]}

In [9]:
for ac in a.gt_overall:
    print(ac)

active
apparent

In [9]:
q.pred_overall['Mean']

                           sockets
2011-04-17 14:08:00+01:00     45.0
2011-04-17 14:09:00+01:00     45.0
2011-04-17 14:10:00+01:00     45.0
2011-04-17 14:11:00+01:00     45.0
2011-04-17 14:12:00+01:00     45.0
2011-04-17 14:13:00+01:00     45.0
2011-04-17 14:14:00+01:00     45.0
2011-04-17 14:15:00+01:00     45.0
2011-04-17 14:16:00+01:00     45.0
2011-04-17 14:17:00+01:00     45.0
2011-04-17 14:18:00+01:00     45.0
2011-04-17 14:19:00+01:00     45.0
2011-04-17 14:20:00+01:00     45.0
2011-04-17 14:21:00+01:00     45.0
2011-04-17 14:22:00+01:00     45.0
2011-04-17 14:23:00+01:00     45.0
2011-04-17 14:24:00+01:00     45.0
2011-04-17 14:25:00+01:00     45.0
2011-04-17 14:26:00+01:00     45.0
2011-04-17 14:27:00+01:00     45.0
2011-04-17 14:28:00+01:00     45.0
2011-04-17 14:29:00+01:00     45.0
2011-04-17 14:30:00+01:00     45.0
2011-04-17 14:31:00+01:00     45.0
2011-04-17 14:32:00+01:00     45.0
2011-04-17 14:33:00+01:00     45.0
2011-04-17 14:34:00+01:00     45.0
2011-04-17 14:35:00+01:00     45.0
2011-04-17 14:36:00+01:00     45.0
2011-04-17 14:37:00+01:00     45.0
...                            ...
2011-04-21 04:30:00+01:00     45.0
2011-04-21 04:31:00+01:00     45.0
2011-04-21 04:32:00+01:00     45.0
2011-04-21 04:33:00+01:00     45.0
2011-04-21 04:34:00+01:00     45.0
2011-04-21 04:35:00+01:00     45.0
2011-04-21 04:36:00+01:00     45.0
2011-04-21 04:37:00+01:00     45.0
2011-04-21 04:38:00+01:00     45.0
2011-04-21 04:39:00+01:00     45.0
2011-04-21 04:40:00+01:00     45.0
2011-04-21 04:41:00+01:00     45.0
2011-04-21 04:42:00+01:00     45.0
2011-04-21 04:43:00+01:00     45.0
2011-04-21 04:44:00+01:00     45.0
2011-04-21 04:45:00+01:00     45.0
2011-04-21 04:46:00+01:00     45.0
2011-04-21 04:47:00+01:00     45.0
2011-04-21 04:48:00+01:00     45.0
2011-04-21 04:49:00+01:00     45.0
2011-04-21 04:50:00+01:00     45.0
2011-04-21 04:51:00+01:00     45.0
2011-04-21 04:52:00+01:00     45.0
2011-04-21 04:53:00+01:00     45.0
2011-04-21 04:54:00+01:00     45.0
2011-04-21 04:55:00+01:00     45.0
2011-04-21 04:56:00+01:00     45.0
2011-04-21 04:57:00+01:00     45.0
2011-04-21 04:58:00+01:00     45.0
2011-04-21 04:59:00+01:00     45.0

[5212 rows x 1 columns]

In [5]:
import pandas as pd
import numpy as np
index=pd.MultiIndex.from_product([['power'],['active','reactive']])

In [6]:
df = pd.DataFrame(np.random.randn(5, 2), 
                  columns=index)

In [7]:
df

      power
     active  reactive
0  0.679373 -1.148794
1  0.666313  0.462591
2 -1.725807 -0.677565
3  1.194109 -0.981166
4 -0.464404  0.462061

In [18]:
tempdf=pd.DataFrame()
tempdf['tv'] = df['power']['active'].values.tolist()
tempdf['xxx'] = df['power']['reactive'].values.tolist()

In [19]:
tempdf

         tv       xxx
0  0.679373 -1.148794
1  0.666313  0.462591
2 -1.725807 -0.677565
3  1.194109 -0.981166
4 -0.464404  0.462061